<%- include('../partials/view_head.ejs') %>

<h1>Welkom <%=req.session.username%> uit <%=req.session.data.hometown%></h1>
<p>Op dit moment is hier nog niks te vinden, je kunt hier weer <a href="/secret/logout/<%=req.session.data.id%>">uitloggen</a>.</p>

<%- include('../partials/view_foot.ejs') %>